#kof {
    width: 1280px;
    height: 720px;

    background-image: url('/static/images/background/515187029e06de795e7720ea08a47de6.gif');
    background-size: 200% 100%;
    background-position: top;
    position: absolute;
}